<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add User</title>
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/add-user.css">
</head>
<body>
  
  <!--
    STEP 3. Add static (.js or .css) files to your project that
    should be required by at least one of your HTML files.
  -->

  <header class="main_header">
    <nav class="main_header__nav">
      <ul class="main_header__nav-list">
        <li class="main_header__nav-item"><a class="active" href="/">Add User</a></li>
        <li class="main_header__nav-item"><a href="/users">User List</a></li>
      </ul>
    </nav>
  </header>
  <main class="main_content">
    <form class="add_user" action="/add-user" method="POST">
      <h1>Add a User</h1>
      <label class="add_user__label" for="firstName">First Name</label>
      <input class="add_user__input" type="text" name="firstName" id="firstName">
      <label class="add_user__label" for="lastName">Last Name</label>
      <input class="add_user__input" type="text" name="lastName" id="lastName">
      <label class="add_user__label" for="dob">Date of Birth</label>
      <input class="add_user__input" type="date" name="dob" id="dob">
      <button type="submit">Add User</button>
    </form>
  </main>
</body>
</html>
