<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Users</title>
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="/">User List</a></li>
        <li><a href="/admin/add-user">Add User</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <h1>User List</h1>
    <table>
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Date of Birth</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Jane</td>
          <td>Doe</td>
          <td>07-12-1976</td>
        </tr>
        <tr>
          <td>Joe</td>
          <td>Blow</td>
          <td>03-15-1972</td>
        </tr>
        <tr>
          <td>Berta</td>
          <td>Smith</td>
          <td>05-09-1982</td>
        </tr>
        <tr>
          <td>Gene</td>
          <td>Pool</td>
          <td>12-10-1998</td>
        </tr>
      </tbody>
    </table>
  </main>
</body>
</html>